{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}Hello Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hello/vendors/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'hello/css/main.css' %}" />
</head>

<body>
    <div id="wrapper" class="container">
      <header id="main-header" class="row">
        <h1 class="col-md-12">Hello Django</h1>
        <h2 class="col-md-12">Using Docker</h3>
      </header>

      <main class="row">
        <div id="main-content" class="col-md-12">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
</body>
</html>
