body {
  font-family: Arial;
  background: #E7E7E7;
  color #444;
}

header#main-header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}

header#main-header h1 {
  margin-bottom: 0;
}

header#main-header h2 {
  margin-top: 0;
}
